* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: #ff4d05 #ffffff;
}

*::selection {
    background-color: #ff4d05;
}

span::selection {
    background-color: var(--text-color);
}

.active::selection {
    background-color: var(--text-color);
}

*::-webkit-scrollbar {
    width: 6px;
  }

*::-webkit-scrollbar-track {
    background: #1b1411;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff4d05;
    border-radius: 5px;
    border: 2px solid #1b1411;
  }

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    color: var(--text-color);
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    position: fixed;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6054796918767507) 51%, rgba(0,212,255,0) 100%);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 15%;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: #ff4d05;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
}

.home {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    margin-bottom: 20px;
}
.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
    text-shadow: 0px 1px 7px rgba(0,0,0,0.65);
}
.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i {
    height: 55px;
    width: 55px;
    background: red;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover {
    transform: scale(1.1) translateY(5px);
}

header.sticky {
    background: #0a0503c9;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #0a0503;
    padding: 12px 15%;
}

.sobre {
    background-color: #000000ce;
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 71px 0px rgba(0,0,0,1);
    border: 2px solid rgba(255, 255, 255, 0.11);
    height: 80vh;
    width: 70vw;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre h1 {
    margin-bottom: 5%;
}

.pianista {
    height: auto;
    box-shadow: 0px 0px 70px 28px rgba(0,0,0,0.8);
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(7px);
    margin-top: 150px;
}

.pianista h1 {
    margin-bottom: 75px;
    text-align: center;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 25px 25px 25px;
    grid-row-gap: 25px;
    grid-column-gap: 250px;
    align-items: center;
    justify-content: center;
    margin-right: 230px;
}

.card {
    width: 250px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.144);
    border: 1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.4);
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    font-size: 0.9em;
}

.arranjador {
    margin-top: 120px;
    text-align: center;
    font-size: x-large;
    background-image: url(bg2.jpg);
    background-size: cover;
    box-shadow: 0px 0px 70px 28px rgba(0,0,0,0.8);
}

.arranjador h2 {
    line-height: 2.9em;
}

.arranjador img {
    height: 130px;
    width: 130px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.arranjador a {
    color: #ff4d05;
}